.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background: #ffffff;
}
.hero-text{
    width: 50%;
}
.header-text{
    margin-top: 20%;
    margin-left: 29%;
    line-height: 1.8;
}
.header-text h1{
    font-weight: bold;
}

.header-text p{
    font-family: 'Rubik', sans-serif;
    margin-top: 10px;
}
.call-to-action button{
    padding: 10px;
    font-family: 'Rubik', sans-serif;
    font-size: 13px;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 10;
    background: #333333;;
    border-color: transparent;
}
.header-bg{
    background: url('../../static/crave.png');
    width: 50%;
    background-position: center;
    background-size: cover;
    height: 91vh;
}